/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.shadow-typo {
  display: inline-block;
  font-size: 5rem;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px #e7eef1, 8px 8px rgba(0, 0, 0, 0.1);
}


.threedee-typo {
  display: inline-block;
  font-size: 5rem;
  text-transform: uppercase;
  color: #f2395a;
  transform: skew(-5deg, -5deg) rotate(5.5deg);
  transform-origin: center center;
  text-shadow: 1px 1px #d10e31,
               2px 2px #d10e31,
               3px 3px #d10e31,
               4px 4px #d10e31,
               5px 5px #d10e31,
               6px 6px #d10e31,
               7px 7px #d10e31,
               8px 8px #940b24,
               9px 9px #940b24,
               10px 10px #940b24;
}
